.menuDiv {
  display: flex;
  align-items: center;  
  justify-content: center;      
  padding: 10px 20px;
  background-color: #006666;
  gap: 30px;                 
  height: 80px;              
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  font-size: 20px;
  width: 100%;
}

.menuDiv a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.menuDiv a:hover {
  text-decoration: underline;
}

#logoID {
  margin: 5px;
  margin-right: 50px;
  height: 100%;
}

/* Dropdown kontejner */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Skrivene opcije */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #006666;
  min-width: 180px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1001; 
  border-radius: 4px;
}

/* Linkovi u dropdownu */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: normal;
}

.dropdown-content a:hover {
  background-color: #004d4d;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  color: white;
  text-decoration: none;
  font-weight: bold;
}